/* ===== Global styling ===== */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #E8D8CA;
    background-color: #3b261b;
}

main {
    text-align: center;
}


/* ===== Links ===== */

a {
    text-decoration: none;
    color: #85B4BE;
}

a:hover {
    text-decoration: underline;
    color: #275D69;
}


/* ===== QUIZ ===== */

kbd {
  font-family: 'Consolas', 'Courier New', monospace;
}